p{
    color: 5094B9;
    text-align:center;
    font-size:2em;
    line-height:5em;
    
}
h3{
    color: 5094B9;
    text-align:center;
    font-size:1em;
    
}

a{
    color: 5094B9;
    text-align:center;
    font-size:.9em;
    
}